<div class="bg-info bg-gradient" id="footer1">
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom border-dark pb-3 mb-3">
        <li class="nav-item">
          <a href="/" class="nav-link px-2 text-dark">Home</a>
        </li>
        <li class="nav-item">
          <a href="/adminlogin" class="nav-link px-2 text-dark">Admin panel</a>
        </li>
        <li class="nav-item">
          <a href="/faq" class="nav-link px-2 text-dark">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="/contactus" class="nav-link px-2 text-dark">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="/developers" class="nav-link px-2 text-dark">About</a>
        </li>
      </ul>
      <p class="text-center text-dark">© 2022 HumCare, All Right Reserved</p>
    </footer>
  </div>
  <div class="container-fluid" style="height: 40px; background-color: #008fac"></div>
</div>